<div class="container">
    <h1>Contacto</h1>

    <div id="textos" #textos>
        <p appResaltado>
            esta en la pagina de contacto, puedes enviarnos cualquier duda
        </p>
    </div>

    <!-- <div class="bxslider">
        <div><img src="../../../assets/img/coffee1.jpg" title="Funky roots"></div>
        <div><img src="../../../assets/img/coffee2.jpg" title="The long and winding road"></div>
        <div><img src="../../../assets/img/coffee3.jpg" title="Happy trees"></div>
      </div> -->
</div>
