<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta placeat ea aliquid dolorum neque, commodi ad blanditiis reiciendis provident maiores, officia perferendis qui. Adipisci, facere iure sint et voluptatum quo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus corrupti officia tempore, beatae enim ipsam iusto quaerat saepe quas eos illum, culpa neque eligendi quo velit rem, animi natus perspiciatis!</p>
</article>